{% extends 'base_nav.html' %}

{% block header %}
   <title>Home</title>
{% endblock %}

{% block content %}

   <div class="panel panel-default">
      <div class="panel-heading">
         Home
      </div>
      <div class="panel-body">

         {% include 'flashes.html' %}

         <code>{{ get_app_name()|upper }}</code>
         <hr>
            <a href="tg://resolve?domain={{ get_telegram_admin_username() }}">Send message to administrator</a>
         <hr>
      </div>
   </div>

{% endblock %}
