{% extends 'base.html' %}

{% block header %}
   <title>Login</title>
{% endblock %}

{% block content %}
   <div id="login-page" class="content">
      <div class="row">
         <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default">

               <div class="panel-heading">
                  <strong>Web-site authorization</strong>
               </div>

               {% include 'flashes.html' %}
               {% from "form_utils.html" import render_field %}

               <div class="panel-body">
                  <form name="auth" method="post">
                     <div class="form-group">
                        {{ render_field(form.login, class_="form-control", placeholder="Login") }}
                     </div>
                     <div class="form-group">
                        {{ render_field(form.password, class_="form-control", placeholder="Password") }}
                     </div>
                     <div class="checkbox">
                        <label>
                           {{ form.remember(value="on") }} Remember me
                        </label>
                     </div>
                     {{ form.hidden_tag() }}
                     {{ form.submit(class_="btn btn-default") }}
                  </form>
               </div>

            </div>

         </div>
      </div>
   </div>
{% endblock %}
