{% extends 'base.html' %}

{% block header %}
   <title>CSRFT error</title>
{% endblock %}

{% block content %}
   <div id="csrft-page" class="content">
      <div class="row">
         <div class="col-md-4 col-md-offset-4 text-center">
            ERROR : {{ reason }}
            <hr>
            <form>
               <input class="btn btn-default" type="button" value="Main page" onclick="window.location.href='{{ url_for('frontend.index') }}'" />
            </form>
         </div>
      </div>
   </div>
{% endblock %}
